/* Basic editor styles */
.tiptap > * + * {
    margin-top: 0.75em;
    padding: 2px;
  }
  
  .tiptap h1, .tiptap h2, .tiptap h3, .tiptap h4, .tiptap h5, .tiptap h6 {
    line-height: 1.1;
  }
  
  .mention {
    border: 1px solid #000;
    border-radius: 0.4rem;
    padding: 0.1rem 0.3rem;
    box-decoration-break: clone;
  }
  
  .character-count {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: #68CEF8;
  }
  
  .character-count--warning {
    color: #FB5151;
  }
  
  .character-count__graph {
    margin-right: 0.5rem;
  }
  
  .character-count__text {
    color: #868e96;
  }


  